<!DOCTYPE html>
<html>
{% block head %}
    <head>

        <meta charset="utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/css/foundation.css') }}" rel="stylesheet">
    </head>
{% endblock %}
{% block header %}

{% endblock %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="large-2 columns" style="min-height: 20px"></div>
            <div class="large-8 columns ">
                <a href="{{ path('main') }}">
                    <h2 style="text-align: center">Вітаємо вас на нашому сайті</h2>
                    <h3 style="text-align: center">
                        Тут ви можете знайти роботу або робітника абсолютно безкоштовно
                    </h3>
                </a>
            </div>
            <div class="large-2 columns" style="min-height: 20px"></div>
        </div>
    </div>
    <div class="row">
            <div class="large-2 columns show-for-large-up sidebar" style="min-height: 20px">
                {% block baner1 %}
                    <a href="https://hostiq.com.ua/clients/aff.php?aff=416&bid=1" rel="nofollow">
                        <img src="https://hostiq.com.ua/images/aff-banners/160x600.gif" width="160"height="600"
                             alt="Web-хостинг от HOSTiQ" title="Лучший хостинг в Украине — это HOSTiQ.com.ua"border="0"/>
                    </a>
                {% endblock %}
            </div>

        {% block content %}

        {% endblock %}
            <div class="large-2 columns show-for-large-up sidebar" style="min-height: 20px">
                {% block baner2 %}
                <a href="https://hostiq.com.ua/clients/aff.php?aff=416&bid=10" rel="nofollow">
                    <img src="https://hostiq.com.ua/images/aff-banners/160x600_3.gif" width="160" height="600"
                         alt="Купите выделенный сервер" title="Аренда серверов компании HOSTiQ" border="0"/>
                </a>
                {% endblock %}
            </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="large-6 columns show-for-large-up">

            </div>
            <div class="large-6 columns">

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/js/vendor/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/foundation/foundation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/foundation/foundation.orbit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/bootstrap.js') }}"></script>
    <script>
        $(document).foundation();
        $(document).foundation('orbit', 'reflow');
        $( 'div.orbit-slide-number' )
                .css( 'display', 'none' )
    </script>
{% endblock %}
</html>
