{% extends '@Work/layout.html.twig' %}
{% block header_ %}
    <h1 style="text-align: center;margin: 20px;">
        Пошук роботи
    </h1>
{% endblock %}
{% block  baner1 %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="large-8 columns">
        <div id="myCarousel" class="carousel slide">
           {% block mainbaner %}
                {{ parent() }}
           {% endblock %}
        </div>
        <div class="center">
            <h3>
                <b>Скористуйтесь фільтром та оберіть роботу із списку вакансій</b>
            </h3>
        </div>
        <form action="{{ path('find_work') }}" method="post" class="panel-light">
            <div class="center">
                <div class="row">
                    <div class="panel-shadow">
                        <h4>Фільтр</h4>
                    </div>
                    <div class="large-4 columns">
                        <label>Місто: </label>
                        <div>
                            <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false"
                                   name="city"{% if city %}value="{{ city }}"{% endif %}>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <label>Вік від: </label>
                        <input type="number" name="ageFrom"
                               {% if ageFrom %}value="{{ ageFrom }}"{% endif %}>
                    </div>
                    <div class="large-4 columns">
                        <label>Вік до: </label>
                        <input type="number" name="ageTo"
                               {% if ageTo %}value="{{ ageTo }}"{% endif %}>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 columns">
                        <label>З/П від:</label>
                        <input type="number" name="priceFrom"
                               {% if priceFrom %}value="{{ priceFrom }}"{% endif %}>
                    </div>
                    <div class="large-3 columns">
                        <label>З/П до: </label>
                        <input type="number" name="priceTo"
                               {% if priceTo %}value="{{ priceTo }}"{% endif %}>
                    </div>
                    <div class="large-3 columns">
                        <label>Стать: </label>
                        <select name="gender[]">
                            <option disabled>Стать</option>
                            <option value="all">Не важливо</option>
                            {% for key,currentGender in genders %}
                                <option value="{{ key }}"
                                        {% if (gender) and (gender[0] == key) %}selected {% endif %}>
                                    {{ currentGender }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="large-3 columns">
                        <label>Виберіть категорію </label>
                        <select name="categories[]">
                            <option selected disabled>Виберіть категорію</option>
                            <option value="all">Всі категорії</option>
                            {% for key,category in categories  %}
                                <option value="{{ key }}"{% if (curCategory) and (curCategory == key) %} selected{% endif %}>{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="submit" value="Знайти" class="button small">
            </div>
        </form>
        <div class="count">
            Всього знайдено:  <b>{{ pagination.getTotalItemCount }}</b>
        </div>
        {% for employer in pagination %}
        <div style="margin-bottom: 20px">
            <div class="row">
                <div class="columns large-3 border">
                    <h6><b>Категорії:</b></h6>
                </div>
                <div class="large-9 columns border" >
                    {% for category in employer.categories %}
                        {% if category is iterable %}
                            {% for categoryName in category %}
                                <h6 style="float: left;">{{ categoryName }}
                                    {% if employer.categories|length > 1 and (not loop.last) %}
                                        ,
                                    {% endif %}
                                    &nbsp;
                                </h6>
                            {% endfor %}
                        {% else %}
                            <h6>{{ category }}</h6>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns border" id="aboutLable">
                    <h6><b>Про мене:</b></h6>
                </div>
                <div class="large-9 columns border" id="about">
                    <h6>{{employer.name}};{% if employer.aboutMe %}
                            {{employer.aboutMe}}
                        {% endif %}</h6>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns border">
                    <h6><b>Вік:</b></h6>
                </div>
                <div class="large-9 columns border">
                    <h6>{% if employer.ageFrom %}Від <b>
                            {{employer.ageFrom}}</b>
                        {% endif %}
                        {% if employer.ageTo %}до <b>{{employer.ageTo}}</b>
                        {% endif %}
                        {% if employer.ageFrom is null  %} Не вказаний {% endif %}<br>
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns border">
                    <h6><b>З/П :</b></h6>
                </div>
                <div class="large-9 columns border">
                    <h6>{% if employer.priceFrom %} Від <b>{{employer.priceFrom}}</b>
                            {% if employer.priceTo %} до <b>{{employer.priceTo}}</b> {% endif %}
                        {% endif %}
                        {% if employer.priceFrom is null and employer.priceTo is null %}
                            Не вказано
                        {% endif %}</h6>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns border">
                    <h6><b>Місто:</b></h6>
                </div>
                <div class="large-9 columns border">
                    <h6>{% if employer.city %}{{employer.city}}{% else %} Не вказано </h6>{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns border">
                    <h6><b>Номер телефону:</b></h6>
                </div>
                <div class="large-9 columns border">
                    <h6>{{employer.phone}}</h6>
                </div>
            </div>
            <p style="font-size: small;"><b>Дата подання заявки: {{ employer.postDate }}</b></p>
        </div>
        {% endfor %}
        <div class="pagination-centered">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
{% block  baner2 %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/js/bootstrap.js') }}"></script>
    <script>
        $('.carousel').carousel();
    </script>
    <script type="text/javascript" src="{{ asset('bundles/js/typeahead.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'accounts',
                local: ["Авдіївка","Алмазна", "Алчевськ", "Амвросіївка", "Ананьїв", "Андрушівка", "Антрацит", "Апостолове", "Артемівськ", "Артемове", "Арциз",
                    "Балаклія", "Балта", "Бар", "Баранівка", "Барвінкове", "Батурин", "Бахмач", "Баштанка", "Белз", "Бердичів", "Бердянськ",
                    "Берегове","Бережани", "Березань", "Березівка", "Березне", "Берестечко", "Берислав", "Бершадь", "Бібрка", "Біла Церква",
                    "Білгород-Дністровський", "Білицьке","Білозерське", "Білопілля", "Біляївка", "Бобринець", "Бобровиця", "Богодухів", "Богуслав",
                    "Болград", "Болехів", "Борзна", "Борислав", "Бориспіль","Борщів","Боярка", "Бровари", "Броди", "Брянка", "Буринь", "Бурштин",
                    "Буськ", "Буча", "Бучач", "Валки", "Василівка", "Васильків","Ватутіне", "Вахрушеве", "Вашківці", "Великі Мости", "Верхівцеве",
                    "Верхньодніпровськ", "Вижниця", "Вилкове", "Винники", "Виноградів", "Вишгород", "Вишневе", "Вільногірськ", "Вільнянськ", "Вінниця",
                    "Вовчанськ", "Вознесенськ", "Волноваха", "Володимир-Волинський", "Волочиськ", "Ворожба", "Вуглегірськ", "Вугледар", "Гадяч", "Гайворон",
                    "Гайсин", "Галич", "Генічеськ", "Герца", "Гірник", "Гірське", "Глиняни", "Глобине", "Глухів", "Гнівань", "Гола Пристань", "Горлівка",
                    "Городенка", "Городище", "Городня", "Горохів", "Гребінка", "Гуляйполе", "Дебальцеве", "Деражня", "Дергачі", "Дзержинськ", "Димитров",
                    "Дніпродзержинськ", "Дніпропетровськ", "Дніпрорудне", "Добромиль", "Добропілля", "Докучаєвськ", "Долина", "Долинська", "Донецьк",
                    "Дрогобич","Дружба", "Дружківка", "Дубляни", "Дубно", "Дубровиця", "Дунаївці", "Енергодар", "Єнакієве", "Жашків", "Жданівка", "Жидачів",
                    "Житомир", "Жмеринка", "Жовква", "Жовті Води", "Заліщики", "Запоріжжя", "Заставна", "Збараж", "Зборів", "Звенигородка", "Здолбунів",
                    "Зеленодольськ", "Зимогір'я", "Зіньків", "Зміїв", "Знам'янка", "Золоте", "Золотоноша", "Золочів","Зоринськ", "Зугрес", "Івано-Франківськ",
                    "Ізмаїл", "Ізюм", "Ізяслав", "Іллінці", "Іллічівськ", "Іловайськ", "Ірміно", "Ірпінь", "Іршава", "Ічня", "Кагарлик", "Калинівка", "Калуш",
                    "Кам'янець-Подільський", "Кам'янка-Бузька", "Кам'янка-Дніпровська", "Кам'янка", "Камінь-Каширський", "Канів", "Карлівка", "Каховка",
                    "Київ", "Ківерці", "Кілія", "Кіровоград", "Кіровськ", "Кіровське", "Кіцмань", "Кобеляки", "Ковель", "Кодима", "Козятин", "Коломия",
                    "Комарно", "Комсомольськ", "Комсомольське", "Конотоп", "Копичинці", "Корець", "Коростень", "Коростишів", "Корсунь-Шевченківський",
                    "Корюківка", "Косів", "Костопіль", "Костянтинівка", "Котовськ", "Краматорськ", "Красилів", "Красний Лиман", "Красний Луч",
                    "Красноармійськ", "Красногорівка", "Красноград", "Краснодон", "Красноперекопськ", "Кременець", "Кременчук", "Кремінна", "Кривий Ріг",
                    "Кролевець", "Кузнецовськ", "Куп'янськ", "Курахове", "Ладижин", "Ланівці", "Лебедин", "Липовець", "Лисичанськ", "Лозова", "Лохвиця",
                    "Лубни", "Луганськ", "Лутугине", "Луцьк", "Львів", "Любомль", "Люботин", "Макіївка", "Мала Виска", "Малин", "Мар'їнка", "Марганець",
                    "Маріуполь", "Мелітополь", "Мена", "Мерефа", "Миколаїв", "Миколаїв", "Миколаївка", "Миргород", "Миронівка", "Міусинськ", "Могилів-Подільсь",
                    "Молодогвардійськ", "Молочанськ", "Монастириська", "Монастирище", "Моршин", "Моспине", "Мостиська", "Мукачеве", "Надвірна", "Немирів",
                    "Нетішин", "Ніжин", "Нікополь", "Нова Каховка", "Нова Одеса", "Новгород-Сіверський", "Новий Буг", "Новий Калинів", "Новий Розділ",
                    "Новоазовськ", "Нововолинськ", "Новоград-Волинський", "Новогродівка", "Новодністровськ", "Новодружеськ", "Новомиргород", "Новомосковськ",
                    "Новоселиця", "Новоукраїнка", "Новояворівськ", "Носівка", "Обухів", "Овруч", "Одеса", "Олевськ", "Олександрівськ", "Олександрія",
                    "Орджонікідзе", "Оріхів", "Остер", "Острог", "Охтирка", "Очаків", "П'ятихатки", "Павлоград", "Первомайськ", "Первомайськ", "Первомайський",
                    "Перевальськ", "Перемишляни", "Перечин","Перещепине", "Переяслав-Хмельницький", "Першотравенськ", "Петровське", "Пирятин", "Південне",
                    "Підгайці", "Підгородне", "Погребище", "Пологи", "Полонне", "Полтава", "Помічна", "Попасна", "Почаїв", "Привілля", "Прилуки", "Приморськ",
                    "Пустомити", "Путивль", "Рава-Руська", "Радехів", "Радивилів", "Радомишль", "Рахів", "Рені", "Ржищів", "Рівне", "Ровеньки", "Рогатин",
                    "Родинське","Рожище", "Роздільна", "Ромни", "Рубіжне", "Рудки", "Саки", "Самбір", "Сарни", "Свалява", "Сватове", "Свердловськ",
                    "Світловодськ", "Світлодарськ", "Святогірськ", "Селидове", "Семенівка", "Середина-Буда", "Сєвєродонецьк", "Синельникове", "Сіверськ",
                    "Скадовськ", "Скалат", "Сквира", "Сколе", "Славута", "Славутич", "Слов'янськ", "Сміла", "Снігурівка", "Сніжне", "Снятин", "Сокаль",
                    "Сокиряни", "Соледар", "Соснівка", "Старий Самбір", "Старобільськ", "Старокостянтинів", "Стаханов", "Стебник", "Сторожинець", "Стрий",
                    "Судова Вишня", "Суми", "Суходільськ", "Таврійськ", "Тальне", "Тараща", "Татарбунари", "Теплодар", "Теребовля", "Тернівка", "Тернопіль",
                    "Тетіїв", "Тисмениця", "Тлумач", "Токмак", "Торез", "Тростянець", "Трускавець", "Тульчин", "Турка", "Тячів", "Угнів", "Ужгород", "Узин",
                    "Українка", "Українськ", "Ульяновка", "Умань", "Устилуг", "Фастів", "Харків", "Харцизьк", "Херсон", "Хирів", "Хмельницький", "Хмільник",
                    "Ходорів", "Хорол", "Хоростків", "Хотин", "Христинівка", "Хуст", "Цюрупинськ", "Часів", "Червоноград", "Червонозаво", "Червонопарт",
                    "Черкаси", "Чернівці", "Чернігів", "Чигирин", "Чоп", "Чортків", "Чугуїв", "Чуднів", "Шаргород","Шахтарськ", "Шепетівка", "Шостка", "Шпола",
                    "Шумськ", "Щастя", "Щолкіне", "Щорс", "Южне", "Южноукраїнськ", "Юнокомунарівськ", "Яворів", "Яготин", "Ялта", "Ямпіль", "Яремче",
                    "Ясинувата"]
            });
            $( 'span.twitter-typeahead' )
                    .css( 'width', '100%' );
        });
        var h = $('#about').height();
        $('#aboutLable').height(h);

    </script>
{% endblock %}