{% extends '@Work/layout.html.twig' %}
{% block body %}
    <div style="margin: 30px;">
        <form action="{{ path('find_work') }}" method="post">
            City: <input type="text" name="city" {% if city %}value="{{ city }}"{% endif %} >
            Age from: <input type="number" name="ageFrom" {% if ageFrom %}value="{{ ageFrom }}"{% endif %}>
            Age to: <input type="number" name="ageTo" {% if ageTo %}value="{{ ageTo }}"{% endif %}>
            <br>Price from: <input type="number" name="priceFrom" {% if priceFrom %}value="{{ priceFrom }}"{% endif %}>
            Price to: <input type="number" name="priceTo" {% if priceTo %}value="{{ priceTo }}"{% endif %}>
            <br>Term from: <input type="date" name="termFrom" {% if termFrom %}value="{{ termFrom }}"{% endif %}>
            Term to: <input type="date" name="termTo" {% if termTo %}value="{{ termTo }}"{% endif %}>
            <br>Gender: <select name="gender[]">
                <option disabled>gender</option>
                <option value="all">all</option>
                {% for key,currentGender in genders %}
                    <option value="{{ key }}" {% if (gender) and (gender[0] == key) %}selected {% endif %}>{{ currentGender }}</option>
                {% endfor %}
            </select>
            <br>Choose your categories:
            {% for key,category in categories  %}
                <br><input type="checkbox" {% if key in curCategories %} checked {% endif %} value="{{ key }}" name="categories[]">{{ category }}
            {% endfor %}
            <br><input type="submit" value="find">
        </form>
    </div>
    <div class="count">
        Total <b>{{ pagination.getTotalItemCount }}</b> items found:
    </div>
    <table style="border: 1px solid #000000; word-break: break-all; width: 100%">
        <tr style="border: 1px solid #000000;">
            <td>Name</td>
            <td>Phone</td>
            <td>City</td>
            <td>Age from</td>
            <td>Age to</td>
            <td>Price from</td>
            <td>Price to</td>
            <td>Term from</td>
            <td>Term to</td>
            <td>Categories</td>
            <td>About Me</td>
            <td>Post date</td>
        </tr>
        {% for employer in pagination %}
            <tr >
                <td>{{employer.name}}</td>
                <td>{{employer.phone}}</td>
                <td>{{employer.city}}</td>
                <td>{{employer.ageFrom}}</td>
                <td>{{employer.ageTo}}</td>
                <td>{{employer.priceFrom}}</td>
                <td>{{employer.priceTo}}</td>
                <td>{{employer.termFrom}}</td>
                <td>{{employer.termTo}}</td>
                <td>{% for category in employer.categories %}
                        {% if category is iterable %}
                            <br>
                            {% for categoryName in category %}
                                {{ categoryName }}<br>
                            {% endfor %}
                        {% else %}
                            {{ category }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td style="width: 30%;">{{employer.aboutMe}}</td>
                <td>{{ employer.postDate }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
