{% extends '@Work/layout.html.twig' %}
{% block body %}
    <div>
        <form action="{{ path('add_worker') }}" method="post">
            First name: <input type="text" name="firstName" required>
            <br> Last name: <input type="text" name="lastName" required>
            <br> Phone: <input type="text" name="phone" required>
            <br> Age: <input type="text" name="age">
            <br>City: <input type="text" name="city">
            <br>Tell about yourself: <textarea name="aboutMe"></textarea>
            <br>Choose your categories:
            {% for key,category in categories  %}
               <br><input type="checkbox" value="{{ key }}" name="categories[]">{{ category }}
            {% endfor %}
            <br>Education: <input type="text" name="education">
            <select>
                {% for key, education in educationLevels %}
                    <option value="{{ key }}">{{ education }}</option>
                {% endfor %}
            </select>
            City: <input type="text" name="educationCity">
            <br><input type="submit">
        </form>
    </div>
{% endblock %}
