{% extends '@Work/layout.html.twig' %}
{% block body %}
    <div>
        <form action="{{ path('add_worker') }}" method="post">
            First name: <input type="text" name="firstName" required>
            <br> Last name: <input type="text" name="lastName" required>
            <br> Phone: <input type="text" name="phone" required>
            <br> Date of birth: <input type="date" name="date">
            <br>Gender:<select name="gender" required>
                {% for key,gender in genders %}
                <option value="{{ key }}">{{ gender }}</option>
                {% endfor %}
            </select>
            <br>City: <input type="text" name="city">
            <br>Tell about yourself: <textarea name="aboutMe"></textarea>
            <br><br>Choose your categories:
            {% for key,category in categories  %}
               <br><input type="checkbox" value="{{ key }}" name="categories[]">{{ category }}
            {% endfor %}
            <br>Education: <input type="text" name="education">
            Level: <select name="educationLevel">
                <option disabled selected>education level</option>
                {% for key, education in educationLevels %}
                    <option value="{{ key }}">{{ education }}</option>
                {% endfor %}
            </select>
            City: <input type="text" name="educationCity">
            <br><input type="submit">
        </form>
    </div>
{% endblock %}
