{% extends "@Work/layout.html.twig" %}
{% block  baner1 %}
{% endblock %}
{% block content %}
    <div class="large-8 columns main">
        <div class="show-for-large-up">
            <div class="row " style="color: #c3daf9; margin-top: 5px">
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Вінниця'}) }}">Вінниця</a> <br>
                        <a href="{{ path('main',{'city': 'Дніпродзержинськ'}) }}">Дніпродзержинськ</a> <br>
                        <a href="{{ path('main',{'city': 'Дніпропетровськ'}) }}">Дніпропетровськ</a> <br>
                        <a href="{{ path('main',{'city': 'Донецьк'}) }}">Донецьк</a> <br>
                        <a href="{{ path('main',{'city': 'Житомир'}) }}">Житомир</a> <br>


                    </p>
                </div>
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Запоріжжя'}) }}">Запоріжжя</a> <br>
                        <a href="{{ path('main',{'city': 'Івано-Франківськ'}) }}">Івано-Франківськ</a> <br>
                        <a href="{{ path('main',{'city': 'Кіровоград'}) }}">Кіровоград</a> <br>
                        <a href="{{ path('main',{'city': 'Кривий Ріг'}) }}">Кривий Ріг</a> <br>
                        <a href="{{ path('main',{'city': 'Луцьк'}) }}">Луцьк</a> <br>

                    </p>
                </div>
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Львів'}) }}">Львів</a> <br>
                        <a href="{{ path('main',{'city': 'Маріуполь'}) }}">Маріуполь</a> <br>
                        <a href="{{ path('main',{'city': 'Миколаїв'}) }}">Миколаїв</a> <br>
                        <a href="{{ path('main',{'city': 'Мукачево'}) }}">Мукачево</a> <br>
                        <a href="{{ path('main',{'city': 'Одеса'}) }}">Одеса</a> <br>

                    </p>
                </div>
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Полтава'}) }}">Полтава</a> <br>
                        <a href="{{ path('main',{'city': 'Рівне'}) }}">Рівне</a> <br>
                        <a href="{{ path('main',{'city': 'Суми'}) }}">Суми</a> <br>
                        <a href="{{ path('main',{'city': 'Тернопіль'}) }}">Тернопіль</a> <br>
                        <a href="{{ path('main',{'city': 'Ужгород'}) }}">Ужгород</a> <br>

                    </p>
                </div>
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Харків'}) }}">Харків</a> <br>
                        <a href="{{ path('main',{'city': 'Хмельницьк'}) }}">Хмельницьк</a> <br>
                        <a href="{{ path('main',{'city': 'Черкаси'}) }}">Черкаси</a> <br>
                        <a href="{{ path('main',{'city': 'Чернівці'}) }}">Чернівці</a> <br>
                        <a href="{{ path('main',{'city': 'Чернігів'}) }}">Чернігів</a> <br>
                    </p>
                </div>
            </div>
            <form action="{{ path('main') }}" method="get">
            <div class="row collapse" style="margin: 0 -0.9375em!important;">
                <div id="the-basics" class="small-4 columns large-offset-3">
                    <input class="typeahead" type="text" placeholder="Введіть місто" id="city" name="city">
                </div>
                <div class="small-2 columns end">
                    <input type="submit" value="Пошук" class="button postfix">
                </div>
            </div>
            </form>
        </div>

        <div class="row">
            <div class="large-6 columns" style="text-align: center;">
                <a href="{{ path('post_worker') }}"  class="button postfix btn radius">
                    <span style="margin-top: 20px;display: block;">Шукаєш роботу?</span>
                    <h6>Тобі сюди</h6>
                </a>
            </div>
            <div class="large-6 columns" style="text-align: center;">
                <a href=" {{ path('post_work') }}"  class="button postfix btn radius">
                    <span style="margin-top: 20px;display: block;">Шукаєш робітника?</span>
                    <h6>Тобі сюди</h6>
                </a>
            </div>
        </div>

        <div class="row">
            <ul class="button-group radius" style="text-align: center;margin-top: 100px;">
                <li style="width: 48%;">
                    <a href="{{ path('find_work') }}" class="button postfix btn"
                       style="height: 50px!important;font-size: large!important;">
                        <span >Список вакансій</span>
                    </a>
                </li>
                <li style="width: 48%;">
                    <a href="{{ path('find_worker') }}" class="button postfix btn"
                       style="height: 50px!important;font-size: large!important;">
                        <span >Список анкет</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}
{% block  baner2 %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/js/typeahead.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'accounts',
                local: ["Авдіївка","Алмазна", "Алчевськ", "Амвросіївка", "Ананьїв", "Андрушівка", "Антрацит", "Апостолове", "Артемівськ", "Артемове", "Арциз",
                    "Балаклія", "Балта", "Бар", "Баранівка", "Барвінкове", "Батурин", "Бахмач", "Баштанка", "Белз", "Бердичів", "Бердянськ",
                    "Берегове","Бережани", "Березань", "Березівка", "Березне", "Берестечко", "Берислав", "Бершадь", "Бібрка", "Біла Церква",
                    "Білгород-Дністровський", "Білицьке","Білозерське", "Білопілля", "Біляївка", "Бобринець", "Бобровиця", "Богодухів", "Богуслав",
                    "Болград", "Болехів", "Борзна", "Борислав", "Бориспіль","Борщів","Боярка", "Бровари", "Броди", "Брянка", "Буринь", "Бурштин",
                    "Буськ", "Буча", "Бучач", "Валки", "Василівка", "Васильків","Ватутіне", "Вахрушеве", "Вашківці", "Великі Мости", "Верхівцеве",
                    "Верхньодніпровськ", "Вижниця", "Вилкове", "Винники", "Виноградів", "Вишгород", "Вишневе", "Вільногірськ", "Вільнянськ", "Вінниця",
                    "Вовчанськ", "Вознесенськ", "Волноваха", "Володимир-Волинський", "Волочиськ", "Ворожба", "Вуглегірськ", "Вугледар", "Гадяч", "Гайворон",
                    "Гайсин", "Галич", "Генічеськ", "Герца", "Гірник", "Гірське", "Глиняни", "Глобине", "Глухів", "Гнівань", "Гола Пристань", "Горлівка",
                    "Городенка", "Городище", "Городня", "Горохів", "Гребінка", "Гуляйполе", "Дебальцеве", "Деражня", "Дергачі", "Дзержинськ", "Димитров",
                    "Дніпродзержинськ", "Дніпропетровськ", "Дніпрорудне", "Добромиль", "Добропілля", "Докучаєвськ", "Долина", "Долинська", "Донецьк",
                    "Дрогобич","Дружба", "Дружківка", "Дубляни", "Дубно", "Дубровиця", "Дунаївці", "Енергодар", "Єнакієве", "Жашків", "Жданівка", "Жидачів",
                    "Житомир", "Жмеринка", "Жовква", "Жовті Води", "Заліщики", "Запоріжжя", "Заставна", "Збараж", "Зборів", "Звенигородка", "Здолбунів",
                    "Зеленодольськ", "Зимогір'я", "Зіньків", "Зміїв", "Знам'янка", "Золоте", "Золотоноша", "Золочів","Зоринськ", "Зугрес", "Івано-Франківськ",
                    "Ізмаїл", "Ізюм", "Ізяслав", "Іллінці", "Іллічівськ", "Іловайськ", "Ірміно", "Ірпінь", "Іршава", "Ічня", "Кагарлик", "Калинівка", "Калуш",
                    "Кам'янець-Подільський", "Кам'янка-Бузька", "Кам'янка-Дніпровська", "Кам'янка", "Камінь-Каширський", "Канів", "Карлівка", "Каховка",
                    "Київ", "Ківерці", "Кілія", "Кіровоград", "Кіровськ", "Кіровське", "Кіцмань", "Кобеляки", "Ковель", "Кодима", "Козятин", "Коломия",
                    "Комарно", "Комсомольськ", "Комсомольське", "Конотоп", "Копичинці", "Корець", "Коростень", "Коростишів", "Корсунь-Шевченківський",
                    "Корюківка", "Косів", "Костопіль", "Костянтинівка", "Котовськ", "Краматорськ", "Красилів", "Красний Лиман", "Красний Луч",
                    "Красноармійськ", "Красногорівка", "Красноград", "Краснодон", "Красноперекопськ", "Кременець", "Кременчук", "Кремінна", "Кривий Ріг",
                    "Кролевець", "Кузнецовськ", "Куп'янськ", "Курахове", "Ладижин", "Ланівці", "Лебедин", "Липовець", "Лисичанськ", "Лозова", "Лохвиця",
                    "Лубни", "Луганськ", "Лутугине", "Луцьк", "Львів", "Любомль", "Люботин", "Макіївка", "Мала Виска", "Малин", "Мар'їнка", "Марганець",
                    "Маріуполь", "Мелітополь", "Мена", "Мерефа", "Миколаїв", "Миколаїв", "Миколаївка", "Миргород", "Миронівка", "Міусинськ", "Могилів-Подільсь",
                    "Молодогвардійськ", "Молочанськ", "Монастириська", "Монастирище", "Моршин", "Моспине", "Мостиська", "Мукачеве", "Надвірна", "Немирів",
                    "Нетішин", "Ніжин", "Нікополь", "Нова Каховка", "Нова Одеса", "Новгород-Сіверський", "Новий Буг", "Новий Калинів", "Новий Розділ",
                    "Новоазовськ", "Нововолинськ", "Новоград-Волинський", "Новогродівка", "Новодністровськ", "Новодружеськ", "Новомиргород", "Новомосковськ",
                    "Новоселиця", "Новоукраїнка", "Новояворівськ", "Носівка", "Обухів", "Овруч", "Одеса", "Олевськ", "Олександрівськ", "Олександрія",
                    "Орджонікідзе", "Оріхів", "Остер", "Острог", "Охтирка", "Очаків", "П'ятихатки", "Павлоград", "Первомайськ", "Первомайськ", "Первомайський",
                    "Перевальськ", "Перемишляни", "Перечин","Перещепине", "Переяслав-Хмельницький", "Першотравенськ", "Петровське", "Пирятин", "Південне",
                    "Підгайці", "Підгородне", "Погребище", "Пологи", "Полонне", "Полтава", "Помічна", "Попасна", "Почаїв", "Привілля", "Прилуки", "Приморськ",
                    "Пустомити", "Путивль", "Рава-Руська", "Радехів", "Радивилів", "Радомишль", "Рахів", "Рені", "Ржищів", "Рівне", "Ровеньки", "Рогатин",
                    "Родинське","Рожище", "Роздільна", "Ромни", "Рубіжне", "Рудки", "Саки", "Самбір", "Сарни", "Свалява", "Сватове", "Свердловськ",
                    "Світловодськ", "Світлодарськ", "Святогірськ", "Селидове", "Семенівка", "Середина-Буда", "Сєвєродонецьк", "Синельникове", "Сіверськ",
                    "Скадовськ", "Скалат", "Сквира", "Сколе", "Славута", "Славутич", "Слов'янськ", "Сміла", "Снігурівка", "Сніжне", "Снятин", "Сокаль",
                    "Сокиряни", "Соледар", "Соснівка", "Старий Самбір", "Старобільськ", "Старокостянтинів", "Стаханов", "Стебник", "Сторожинець", "Стрий",
                    "Судова Вишня", "Суми", "Суходільськ", "Таврійськ", "Тальне", "Тараща", "Татарбунари", "Теплодар", "Теребовля", "Тернівка", "Тернопіль",
                    "Тетіїв", "Тисмениця", "Тлумач", "Токмак", "Торез", "Тростянець", "Трускавець", "Тульчин", "Турка", "Тячів", "Угнів", "Ужгород", "Узин",
                    "Українка", "Українськ", "Ульяновка", "Умань", "Устилуг", "Фастів", "Харків", "Харцизьк", "Херсон", "Хирів", "Хмельницький", "Хмільник",
                    "Ходорів", "Хорол", "Хоростків", "Хотин", "Христинівка", "Хуст", "Цюрупинськ", "Часів", "Червоноград", "Червонозаво", "Червонопарт",
                    "Черкаси", "Чернівці", "Чернігів", "Чигирин", "Чоп", "Чортків", "Чугуїв", "Чуднів", "Шаргород","Шахтарськ", "Шепетівка", "Шостка", "Шпола",
                    "Шумськ", "Щастя", "Щолкіне", "Щорс", "Южне", "Южноукраїнськ", "Юнокомунарівськ", "Яворів", "Яготин", "Ялта", "Ямпіль", "Яремче",
                    "Ясинувата"]
            });
            $('span.twitter-typeahead').css('width','100%');

        });
    </script>
{% endblock %}
