{% extends "@Work/layout.html.twig" %}
{% block  baner1 %}
{% endblock %}
{% block content %}
    <div class="large-8 columns main">
        <div class="show-for-large-up">
            <div class="row " style="color: #c3daf9; margin-top: 5px">
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Вінниця'}) }}">Вінниця</a> <br>
                        <a href="{{ path('main',{'city': 'Дніпродзержинськ'}) }}">Дніпродзержинськ</a> <br>
                        <a href="{{ path('main',{'city': 'Дніпропетровськ'}) }}">Дніпропетровськ</a> <br>
                        <a href="{{ path('main',{'city': 'Донецьк'}) }}">Донецьк</a> <br>
                        <a href="{{ path('main',{'city': 'Житомир'}) }}">Житомир</a> <br>


                    </p>
                </div>
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Запоріжжя'}) }}">Запоріжжя</a> <br>
                        <a href="{{ path('main',{'city': 'Івано-Франківськ'}) }}">Івано-Франківськ</a> <br>
                        <a href="{{ path('main',{'city': 'Кіровоград'}) }}">Кіровоград</a> <br>
                        <a href="{{ path('main',{'city': 'Кривий Ріг'}) }}">Кривий Ріг</a> <br>
                        <a href="{{ path('main',{'city': 'Луцьк'}) }}">Луцьк</a> <br>

                    </p>
                </div>
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Львів'}) }}">Львів</a> <br>
                        <a href="{{ path('main',{'city': 'Маріуполь'}) }}">Маріуполь</a> <br>
                        <a href="{{ path('main',{'city': 'Миколаїв'}) }}">Миколаїв</a> <br>
                        <a href="{{ path('main',{'city': 'Мукачево'}) }}">Мукачево</a> <br>
                        <a href="{{ path('main',{'city': 'Одеса'}) }}">Одеса</a> <br>

                    </p>
                </div>
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Полтава'}) }}">Полтава</a> <br>
                        <a href="{{ path('main',{'city': 'Рівне'}) }}">Рівне</a> <br>
                        <a href="{{ path('main',{'city': 'Суми'}) }}">Суми</a> <br>
                        <a href="{{ path('main',{'city': 'Тернопіль'}) }}">Тернопіль</a> <br>
                        <a href="{{ path('main',{'city': 'Ужгород'}) }}">Ужгород</a> <br>

                    </p>
                </div>
                <div class="large-2-5 columns">
                    <p style="line-height: 1;">
                        <a href="{{ path('main',{'city': 'Харків'}) }}">Харків</a> <br>
                        <a href="{{ path('main',{'city': 'Хмельницьк'}) }}">Хмельницьк</a> <br>
                        <a href="{{ path('main',{'city': 'Черкаси'}) }}">Черкаси</a> <br>
                        <a href="{{ path('main',{'city': 'Чернівці'}) }}">Чернівці</a> <br>
                        <a href="{{ path('main',{'city': 'Чернігів'}) }}">Чернігів</a> <br>
                    </p>
                </div>
            </div>
            <form action="{{ path('main') }}" method="get">
            <div class="row collapse" style="margin: 0 -0.9375em!important;">
                <div id="the-basics" class="small-4 columns large-offset-3">
                    <input class="typeahead" type="text" placeholder="Введіть місто" id="city" name="city">
                </div>
                <div class="small-2 columns end">
                    <input type="submit" value="Пошук" class="button postfix">
                </div>
            </div>
            </form>
        </div>

        <div class="row">
            <div class="large-6 columns" style="text-align: center;">
                <a href="{{ path('post_worker') }}"  class="button postfix btn radius">
                    <span style="margin-top: 20px;display: block;">Шукаєш роботу?</span>
                    <h6>Натисни сюди</h6>
                </a>
            </div>
            <div class="large-6 columns" style="text-align: center;">
                <a href=" {{ path('post_work') }}"  class="button postfix btn radius">
                    <span style="margin-top: 20px;display: block;">Шукаєш робітника?</span>
                    <h6>Натисни сюди</h6>
                </a>
            </div>
        </div>

        <div class="row">
            <ul class="button-group radius" style="text-align: center;margin-top: 100px;">
                <li style="width: 48%;">
                    <a href="{{ path('find_work') }}" class="button postfix btn"
                       style="height: 50px!important;font-size: large!important;">
                        <span >Список вакансій</span>
                    </a>
                </li>
                <li style="width: 48%;">
                    <a href="{{ path('find_worker') }}" class="button postfix btn"
                       style="height: 50px!important;font-size: large!important;">
                        <span >Список анкет</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}
{% block  baner2 %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/js/typeahead.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'accounts',
                local: [
                    'Алушта','Алчевськ','Бердичів','Бердянськ','Біла Церква','Білгород-Дністровський','Бориспіль','Бровари'
                    ,'Вишневе','Вінниця','Вознесенськ','Володимир-Волинський','Горлівка','Дніпродзержинськ','Дніпропетровськ'
                    ,'Донецьк','Дрогобич','Дунаївці','Євпаторія','Житомир','Жовті Води','Запоріжжя','Івано-Франківськ'
                    ,'Ізмаїл','Іллічівськ','Кам"янець-Подільський','Керч','Кіровоград','Ковель','Коломия','Комсомольськ'
                    ,'Коростень','Котовськ','Краматорськ','Кременчук','Кривий Ріг','Лубни','Луганськ','Луцьк','Львів'
                    ,'Макіївка','Маріуполь','Мелітополь','Миколаїв','Миргород','Мукачеве','Ніжин','Нікополь','Нова Каховка'
                    ,'Новоград-Волинський','Обухів','Одеса','Олександрія','Павлоград','Первомайськ(Миколаїв)','Полтава'
                    ,'Рівне','Севастополь','Сєверодонецьк','Сімферополь','Славута','Сміла','Сторожинець','Стрий','Суми'
                    ,'Тернопіль','Ужгород','Умань','Феодосія','Харків','Херсон','Хмельницький','Черкаси','Чернівці'
                    ,'Чернігів','Шостка','Южноукраїнськ','Ялта'
                ]
            });
            $('span.twitter-typeahead').css('width','100%');

        });
    </script>
{% endblock %}
