{% extends "@Work/layout.html.twig" %}
{% block header %}

{% endblock %}
{% block body %}
    <div style="margin: 30px;">
        <form action="{{ path('find_worker') }}" method="post" {{ form_enctype(filterForm) }}>
            {{ form_widget(filterForm) }}
        </form>
    </div>
<table style="border: 1px solid #000000; word-break: break-all; width: 90%">
    <tr style="border: 1px solid #000000;">
        <td>Name</td>
        <td>Phone</td>
        <td>Age</td>
        <td>City</td>
        <td>About Me</td>
        <td>Categories</td>
        <td>Education</td>
    </tr>
    {% for worker in workers %}
        <tr style="border: 1px solid #000000;">
            <td>{{worker.name}}</td>
            <td>{{worker.phone}}</td>
            <td>{{worker.age}}</td>
            <td>{{worker.city}}</td>
            <td style="width: 30%;">{{worker.aboutMe}}</td>
            <td>{% for category in worker.categories %}
                    {% if category is iterable %}
                        <br>
                        {% for categoryName in category %}
                            {{ categoryName }}<br>
                        {% endfor %}
                    {% else %}
                        {{ category }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>{% for education in worker.educations %}
                    {% if education is iterable %}
                        <br>
                        {% for educationInfo in education %}
                                {{ educationInfo }}<br>
                        {% endfor %}
                    {% else %}
                        {{ education }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
