{% extends "@Work/layout.html.twig" %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="large-8 columns">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item"><img src="{{ asset('img/andromeda-orbit.jpg') }}"></div>
                <div class="item"><img src="{{ asset('img/launch-orbit.jpg') }}"></div>
                <div class="item"><img src="{{ asset('img/satelite-orbit.jpg') }}"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <div style="margin: 30px;">
            <form action="{{ path('find_worker') }}" method="post">
                <div class="center">
                    <div class="row">
                        <div class="large-4 columns">
                            <label>City: </label>
                            <input type="text" name="city"
                                   {% if city %}value="{{ city }}"{% endif %}>
                        </div>
                        <div class="large-4 columns">
                            <label>Age from: </label>
                            <input type="number" name="ageFrom"
                                   {% if ageFrom %}value="{{ ageFrom }}"{% endif %}>
                        </div>
                        <div class="large-4 columns">
                            <label>Age to: </label>
                            <input type="number" name="ageTo"
                                   {% if ageTo %}value="{{ ageTo }}"{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Gender: </label>
                            <select name="gender[]">
                                <option disabled>gender</option>
                                <option value="all">all</option>
                                {% for key,currentGender in genders %}
                                    <option value="{{ key }}"
                                            {% if (gender) and (gender[0] == key) %}selected {% endif %}>
                                        {{ currentGender }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="large-6 columns">
                            <label>Choose your categories </label>
                            <select name="categories[]">
                                <option selected disabled>Choose the category</option>
                                <option value="all">all</option>
                                {% for key,category in categories  %}
                                    <option value="{{ key }}"{% if (curCategory) and (curCategory == key) %} selected{% endif %}>{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input type="submit" value="Знайти" class="button">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block table %}
    <div class="row">
        <div class="large-12 columns">
            <div class="count">
                Total <b>{{ pagination.getTotalItemCount }}</b> items found:
            </div>
            <table class="table table-condensed" style="word-break: break-all; width: 100%">
                <thead>
                <th style="white-space: nowrap">ПІБ</th>
                <th style="white-space: nowrap">Телефон</th>
                <th style="white-space: nowrap">Вік</th>
                <th style="white-space: nowrap">Місто</th>
                <th style="white-space: nowrap" class="show-for-large-up">Про мене</th>
                <th style="white-space: nowrap">Сфера</th>
                <th style="white-space: nowrap" class="show-for-large-up">Освіта</th>
                </thead>
                <tbody>
                {% for worker in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}">
                        <td>{{worker.name}}</td>
                        <td style="white-space: nowrap">{{worker.phone}}</td>
                        <td>{{worker.age}}</td>
                        <td>{{worker.city}}</td>
                        <td style="width: 30%;" class="show-for-large-up">{{worker.aboutMe}}</td>
                        <td>{% for category in worker.categories %}
                    {% if category is iterable %}
                        <br>
                        {% for categoryName in category %}
                            {{ categoryName }}<br>
                        {% endfor %}
                    {% else %}
                        {{ category }}
                    {% endif %}
                {% endfor %}
                        </td>
                        <td class="show-for-large-up">{% for education in worker.educations %}
                    {% if education is iterable %}
                        <br>
                        Level: {{education.level}}<br>
                        Name: {{ education.name }}<br>
                        City: {{ education.city }}
                    {% else %}
                        {{ education }}
                    {% endif %}
                {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/js/bootstrap.js') }}"></script>
    <script>
        $('.carousel').carousel();
    </script>
{% endblock %}