{% extends "@Work/layout.html.twig" %}
{% block header %}

{% endblock %}
{% block  baner1 %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="large-8 columns">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item"><img src="{{ asset('img/andromeda-orbit.jpg') }}"></div>
                <div class="item"><img src="{{ asset('img/launch-orbit.jpg') }}"></div>
                <div class="item"><img src="{{ asset('img/satelite-orbit.jpg') }}"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <div style="margin: 30px;">
            <form action="{{ path('find_worker') }}" method="post">
                <div class="center">
                    <div class="row">
                        <div class="large-4 columns">
                            <label>Місто: </label>
                            <div>
                                <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false"
                                       name="city"{% if city %}value="{{ city }}"{% endif %}>
                            </div>
                        </div>
                        <div class="large-4 columns">
                            <label>Вік від: </label>
                            <input type="number" name="ageFrom"
                                   {% if ageFrom %}value="{{ ageFrom }}"{% endif %}>
                        </div>
                        <div class="large-4 columns">
                            <label>Вік до: </label>
                            <input type="number" name="ageTo"
                                   {% if ageTo %}value="{{ ageTo }}"{% endif %}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Стать: </label>
                            <select name="gender[]">
                                <option disabled>gender</option>
                                <option value="all">Не важливо</option>
                                {% for key,currentGender in genders %}
                                    <option value="{{ key }}"
                                            {% if (gender) and (gender[0] == key) %}selected {% endif %}>
                                        {{ currentGender }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="large-6 columns">
                            <label>Виберіть категорію</label>
                            <select name="categories[]">
                                <option selected disabled>Виберіть категорію</option>
                                <option value="all">Всі категорії</option>
                                {% for key,category in categories  %}
                                    <option value="{{ key }}"{% if (curCategory) and (curCategory == key) %} selected{% endif %}>{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input type="submit" value="Знайти" class="button">
                </div>
            </form>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="count">
                    Всього <b>{{ pagination.getTotalItemCount }}</b> знайдено:
                </div>

                {% for worker in pagination %}
                    <div class="panel">
                        <h3>{{worker.name}}{% if worker.age > 0 %}, вік {{worker.age}}{% endif %}, місто {{worker.city}}.</h3>
                        <div class="row">
                            <div class="large-6 columns">
                                <p>
                                    Шукаю роботу у сферах діяльності:
                                    {% for category in worker.categories %}
                                        {% if category is iterable %}
                                            <br>
                                            {% for categoryName in category %}
                                                {{ categoryName }}
                                            {% endfor %}
                                        {% else %}
                                            {{ category }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="large-6 columns">
                                <p>
                                    Освіта:
                                    {% for education in worker.educations %}
                                        {% if education is iterable %}
                                            <br>
                                            Рівень: {{education.level}}<br>
                                            Назва закладу: {{ education.name }}<br>
                                            Місто: {{ education.city }}
                                        {% else %}
                                            {{ education }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        {% if worker.aboutMe %}
                        <hr>
                        <p style="word-wrap: break-word;">Про мене:<br>
                            {{worker.aboutMe}}
                        </p>
                        {% endif %}
                        <h4>Номер телефону: {{worker.phone}}</h4>
                        <p>Дата подання заявки: {{ worker.postDate }}</p>
                    </div>
                {% endfor %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block  baner1 %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/js/bootstrap.js') }}"></script>
    <script>
        $('.carousel').carousel();
    </script>
    <script type="text/javascript" src="{{ asset('bundles/js/typeahead.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'accounts',
                local: [
                    'Алушта','Алчевськ','Бердичів','Бердянськ','Біла Церква','Білгород-Дністровський',
                    'Бориспіль','Бровари','Вишневе','Вінниця','Вознесенськ','Володимир-Волинський',
                    'Горлівка','Дніпродзержинськ','Дніпропетровськ','Донецьк','Дрогобич','Дунаївці',
                    'Євпаторія','Житомир','Жовті Води','Запоріжжя','Івано-Франківськ','Ізмаїл',
                    'Іллічівськ','Кам"янець-Подільський','Керч','Кіровоград','Ковель','Коломия',
                    'Комсомольськ','Коростень','Котовськ','Краматорськ','Кременчук','Кривий Ріг',
                    'Лубни','Луганськ','Луцьк','Львів','Макіївка','Маріуполь','Мелітополь','Миколаїв',
                    'Миргород','Мукачеве','Ніжин','Нікополь','Нова Каховка','Новоград-Волинський',
                    'Обухів','Одеса','Олександрія','Павлоград','Первомайськ(Миколаїв)','Полтава',
                    'Рівне','Севастополь','Сєверодонецьк','Сімферополь','Славута','Сміла','Сторожинець',
                    'Стрий','Суми','Тернопіль','Ужгород','Умань','Феодосія','Харків','Херсон','Хмельницький',
                    'Черкаси','Чернівці','Чернігів','Шостка','Южноукраїнськ','Ялта']
            });
            $( 'span.twitter-typeahead' )
                    .css( 'width', '100%' );
        });
    </script>
{% endblock %}