{% extends '@Work/layout.html.twig' %}
{% block header_ %}
    <h1 style="  margin-top: 20px;text-align: center;line-height: 1">
        Даєш роботу, або шукаєш працівника?
    </h1>
{% endblock %}
{% block  baner1 %}
    <div class="large-1 columns" style="min-height: 10px">

    </div>
{% endblock %}
{% block content %}
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Ваша вакансія прийнята, очікуйте дзвінка від робітників</h2>
    </div>
    <div class="large-10 columns">
        <div id="myCarousel" class="carousel slide">
            {% block mainbaner %}

            {% endblock %}
        </div>
        <div class="row">
            <div class="large-7 columns">
                <form id="contact_form" class="panel center" action="{{ path('add_work') }}" method="post">
                    <div class="panel-shadow">
                        <h4>Заповни безкоштовно вакансію та робітники самі зв’яжуться з тобою</h4>
                    </div>
                    <div class="well well-small panel"  style="margin-top: 20px;">
                        <label><h3>Шукаю робітника у сфері:</h3></label>
                        <div class="row" style="text-align: left">
                            {% for key,category in categories  %}
                                <div class="large-6 columns">
                                    <label>
                                        <input type="checkbox" value="{{ key }}" name="categories[]">{{ category }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <label>З/П</label>
                    <div class="small-6 columns">
                        <label >від <input type="number" name="priceFrom"></label>
                    </div>
                    <div class="small-6 columns">
                        <label >до <input type="number" name="priceTo"></label>
                    </div>
                    <label>Віком</label>
                    <div class="small-6 columns">
                        <label>від <input type="number" name="ageFrom"></label>
                    </div>
                    <div class="small-6 columns">
                        <label>до <input type="number" name="ageTo"></label>
                    </div>
                    <label>Стать</label>
                    <select name="gender" required>
                        {% for key,gender in genders %}
                            <option value="{{ key }}">{{ gender }}</option>
                        {% endfor %}
                    </select>
                            <label>Місто</label>
                            <input type="text" {% if city %}value="{{ city }}" {% endif %} class="typeahead tt-query" autocomplete="off" spellcheck="false" name="city">

                    
                    <label class="center">Напишіть декілька слів про роботу яку буде виконувати працівник: </label>
                    <textarea name="aboutMe"></textarea>
                    <label>Ім’я <input type="text" name="firstName" required></label>
                    <label>Телефон <input type="text" name="phone" required></label>
                    <input type="submit" class="button" value="OK">
                </form>
            </div>
            <div class="show-for-medium-down center">
                <h3>АБО</h3>
            </div>
            <div class="show-for-medium-down center">
                <a href="{{ path('find_worker') }}" class="button">
                    <h3>Скористауйтеся пошуком по анкетам робітників, які вже є на сайті, та запропонуйте їм свою прботу.</h3>
                    <h3><b>Пошук по анкетам</b></h3>
                </a>
            </div>
            <div class="large-1 columns show-for-large-up" style="margin-top: 26%"><h3>АБО</h3></div>
            <div class="large-4 columns show-for-large-up" style="margin-top: 20%">
                <a href="{{ path('find_worker') }}" class="button">
                    <h3>Скористауйтеся пошуком по анкетам робітників, які вже є на сайті, та запропонуйте їм свою прботу.</h3>
                    <h3><b>Пошук по анкетам</b></h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block  baner2 %}
    <div class="large-1 columns">

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/js/bootstrap.js') }}"></script>
    <script>
        $('.carousel').carousel();
    </script>
    <script type="text/javascript" src="{{ asset('bundles/js/typeahead.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'accounts',
                local: ["Авдіївка","Алмазна", "Алчевськ", "Амвросіївка", "Ананьїв", "Андрушівка", "Антрацит", "Апостолове", "Артемівськ", "Артемове", "Арциз",
                    "Балаклія", "Балта", "Бар", "Баранівка", "Барвінкове", "Батурин", "Бахмач", "Баштанка", "Белз", "Бердичів", "Бердянськ",
                    "Берегове","Бережани", "Березань", "Березівка", "Березне", "Берестечко", "Берислав", "Бершадь", "Бібрка", "Біла Церква",
                    "Білгород-Дністровський", "Білицьке","Білозерське", "Білопілля", "Біляївка", "Бобринець", "Бобровиця", "Богодухів", "Богуслав",
                    "Болград", "Болехів", "Борзна", "Борислав", "Бориспіль","Борщів","Боярка", "Бровари", "Броди", "Брянка", "Буринь", "Бурштин",
                    "Буськ", "Буча", "Бучач", "Валки", "Василівка", "Васильків","Ватутіне", "Вахрушеве", "Вашківці", "Великі Мости", "Верхівцеве",
                    "Верхньодніпровськ", "Вижниця", "Вилкове", "Винники", "Виноградів", "Вишгород", "Вишневе", "Вільногірськ", "Вільнянськ", "Вінниця",
                    "Вовчанськ", "Вознесенськ", "Волноваха", "Володимир-Волинський", "Волочиськ", "Ворожба", "Вуглегірськ", "Вугледар", "Гадяч", "Гайворон",
                    "Гайсин", "Галич", "Генічеськ", "Герца", "Гірник", "Гірське", "Глиняни", "Глобине", "Глухів", "Гнівань", "Гола Пристань", "Горлівка",
                    "Городенка", "Городище", "Городня", "Горохів", "Гребінка", "Гуляйполе", "Дебальцеве", "Деражня", "Дергачі", "Дзержинськ", "Димитров",
                    "Дніпродзержинськ", "Дніпропетровськ", "Дніпрорудне", "Добромиль", "Добропілля", "Докучаєвськ", "Долина", "Долинська", "Донецьк",
                    "Дрогобич","Дружба", "Дружківка", "Дубляни", "Дубно", "Дубровиця", "Дунаївці", "Енергодар", "Єнакієве", "Жашків", "Жданівка", "Жидачів",
                    "Житомир", "Жмеринка", "Жовква", "Жовті Води", "Заліщики", "Запоріжжя", "Заставна", "Збараж", "Зборів", "Звенигородка", "Здолбунів",
                    "Зеленодольськ", "Зимогір'я", "Зіньків", "Зміїв", "Знам'янка", "Золоте", "Золотоноша", "Золочів","Зоринськ", "Зугрес", "Івано-Франківськ",
                    "Ізмаїл", "Ізюм", "Ізяслав", "Іллінці", "Іллічівськ", "Іловайськ", "Ірміно", "Ірпінь", "Іршава", "Ічня", "Кагарлик", "Калинівка", "Калуш",
                    "Кам'янець-Подільський", "Кам'янка-Бузька", "Кам'янка-Дніпровська", "Кам'янка", "Камінь-Каширський", "Канів", "Карлівка", "Каховка",
                    "Київ", "Ківерці", "Кілія", "Кіровоград", "Кіровськ", "Кіровське", "Кіцмань", "Кобеляки", "Ковель", "Кодима", "Козятин", "Коломия",
                    "Комарно", "Комсомольськ", "Комсомольське", "Конотоп", "Копичинці", "Корець", "Коростень", "Коростишів", "Корсунь-Шевченківський",
                    "Корюківка", "Косів", "Костопіль", "Костянтинівка", "Котовськ", "Краматорськ", "Красилів", "Красний Лиман", "Красний Луч",
                    "Красноармійськ", "Красногорівка", "Красноград", "Краснодон", "Красноперекопськ", "Кременець", "Кременчук", "Кремінна", "Кривий Ріг",
                    "Кролевець", "Кузнецовськ", "Куп'янськ", "Курахове", "Ладижин", "Ланівці", "Лебедин", "Липовець", "Лисичанськ", "Лозова", "Лохвиця",
                    "Лубни", "Луганськ", "Лутугине", "Луцьк", "Львів", "Любомль", "Люботин", "Макіївка", "Мала Виска", "Малин", "Мар'їнка", "Марганець",
                    "Маріуполь", "Мелітополь", "Мена", "Мерефа", "Миколаїв", "Миколаїв", "Миколаївка", "Миргород", "Миронівка", "Міусинськ", "Могилів-Подільсь",
                    "Молодогвардійськ", "Молочанськ", "Монастириська", "Монастирище", "Моршин", "Моспине", "Мостиська", "Мукачеве", "Надвірна", "Немирів",
                    "Нетішин", "Ніжин", "Нікополь", "Нова Каховка", "Нова Одеса", "Новгород-Сіверський", "Новий Буг", "Новий Калинів", "Новий Розділ",
                    "Новоазовськ", "Нововолинськ", "Новоград-Волинський", "Новогродівка", "Новодністровськ", "Новодружеськ", "Новомиргород", "Новомосковськ",
                    "Новоселиця", "Новоукраїнка", "Новояворівськ", "Носівка", "Обухів", "Овруч", "Одеса", "Олевськ", "Олександрівськ", "Олександрія",
                    "Орджонікідзе", "Оріхів", "Остер", "Острог", "Охтирка", "Очаків", "П'ятихатки", "Павлоград", "Первомайськ", "Первомайськ", "Первомайський",
                    "Перевальськ", "Перемишляни", "Перечин","Перещепине", "Переяслав-Хмельницький", "Першотравенськ", "Петровське", "Пирятин", "Південне",
                    "Підгайці", "Підгородне", "Погребище", "Пологи", "Полонне", "Полтава", "Помічна", "Попасна", "Почаїв", "Привілля", "Прилуки", "Приморськ",
                    "Пустомити", "Путивль", "Рава-Руська", "Радехів", "Радивилів", "Радомишль", "Рахів", "Рені", "Ржищів", "Рівне", "Ровеньки", "Рогатин",
                    "Родинське","Рожище", "Роздільна", "Ромни", "Рубіжне", "Рудки", "Саки", "Самбір", "Сарни", "Свалява", "Сватове", "Свердловськ",
                    "Світловодськ", "Світлодарськ", "Святогірськ", "Селидове", "Семенівка", "Середина-Буда", "Сєвєродонецьк", "Синельникове", "Сіверськ",
                    "Скадовськ", "Скалат", "Сквира", "Сколе", "Славута", "Славутич", "Слов'янськ", "Сміла", "Снігурівка", "Сніжне", "Снятин", "Сокаль",
                    "Сокиряни", "Соледар", "Соснівка", "Старий Самбір", "Старобільськ", "Старокостянтинів", "Стаханов", "Стебник", "Сторожинець", "Стрий",
                    "Судова Вишня", "Суми", "Суходільськ", "Таврійськ", "Тальне", "Тараща", "Татарбунари", "Теплодар", "Теребовля", "Тернівка", "Тернопіль",
                    "Тетіїв", "Тисмениця", "Тлумач", "Токмак", "Торез", "Тростянець", "Трускавець", "Тульчин", "Турка", "Тячів", "Угнів", "Ужгород", "Узин",
                    "Українка", "Українськ", "Ульяновка", "Умань", "Устилуг", "Фастів", "Харків", "Харцизьк", "Херсон", "Хирів", "Хмельницький", "Хмільник",
                    "Ходорів", "Хорол", "Хоростків", "Хотин", "Христинівка", "Хуст", "Цюрупинськ", "Часів", "Червоноград", "Червонозаво", "Червонопарт",
                    "Черкаси", "Чернівці", "Чернігів", "Чигирин", "Чоп", "Чортків", "Чугуїв", "Чуднів", "Шаргород","Шахтарськ", "Шепетівка", "Шостка", "Шпола",
                    "Шумськ", "Щастя", "Щолкіне", "Щорс", "Южне", "Южноукраїнськ", "Юнокомунарівськ", "Яворів", "Яготин", "Ялта", "Ямпіль", "Яремче",
                    "Ясинувата","Воловець","Міжгір’я"]
            });
            $( 'span.twitter-typeahead' )
                    .css( 'width', '100%' );
        });
        $('#contact_form').submit(function (e) {
            var form = this;
            e.preventDefault();
            $('.reveal-modal')
                    .css('display','inherit')
                    .css('visibility','visible');
            setTimeout(function () {
                alert("ABCDEFG");
                form.submit();
            }, 4500);
        });
    </script>
{% endblock %}
