{% extends '@Work/layout.html.twig' %}
{% block content %}
    <div class="large-8 columns">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item"><img src="{{ asset('img/andromeda-orbit.jpg') }}"></div>
                <div class="item"><img src="{{ asset('img/launch-orbit.jpg') }}"></div>
                <div class="item"><img src="{{ asset('img/satelite-orbit.jpg') }}"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <form action="{{ path('add_work') }}" method="post">
            <div class="row center">
                <div class="large-4 columns">
                    First name: <input type="text" name="firstName" required>
                </div>
                <div class="large-4 columns">
                    Last name: <input type="text" name="lastName" required>
                </div>
                <div class="large-4 columns">
                    Phone: <input type="text" name="phone" required>
                </div>
            </div>
            Tell about yourself: <textarea name="aboutMe"></textarea>
            <div class="row">
                <div class="large-4 columns">
                    City: <input type="text" name="city">
                </div>
                <div class="large-4 columns">
                    Age from: <input type="number" name="ageFrom">
                </div>
                <div class="large-4 columns">
                    Age to: <input type="number" name="ageTo">
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    Gender:<select name="gender" required>
                        {% for key,gender in genders %}
                            <option value="{{ key }}">{{ gender }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="large-4 columns">
                    Price from: <input type="number" name="priceFrom">
                </div>
                <div class="large-4 columns">
                    Price to: <input type="number" name="priceTo">
                </div>
            </div>
            <div class="well well-small">
                <h6><label>Оберіть категорії:</label></h6>
                <div class="row" style="text-align: left">
                    {% for key,category in categories  %}
                        <div class="large-6 columns">
                            <input type="checkbox" value="{{ key }}" name="categories[]">{{ category }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <input type="submit" class="button" value="Зберегти" style="margin-left: 40%;">
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/js/bootstrap.js') }}"></script>
    <script>
        $('.carousel').carousel();
    </script>
{% endblock %}